html {
	background: #090912fa;
}

article {
	display: grid;
	grid-template-columns: 1fr 0.5in 1in 5.5in 1in 0.5in 1fr;
	padding: 0.5in 0 0.5in 0;
}

figure {
	grid-column: 2/7;
	margin-right: 0px; 
	margin-left: 0px
}

figure img {
	width: 100%;
	border-radius: 25px;
}

h1, h2, h3 {
	display:flex;
	justify-content: center;
	text-align: center;
	font: 34px/1.4 "Signika Negative", sans-serif;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.795);
	grid-column: 1/8;
	margin-bottom: 1.5rem;
}

h2 {
	font: 13px/1.4 "Signika Negative", sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0.9rem;
}

h3 {
	font: 13px/1.4 "Signika Negative", sans-serif;
	letter-spacing: 0.2px;
	margin-bottom: 2rem;
}

p {
	grid-column: 2 / 7;
	font: 18px/1.5 "Signika Negative", sans-serif;
	font-weight: 200;
	color: rgba(255, 255, 255, 0.795);
	margin-top: 2rem;
	padding-left: 5%;
	padding-right: 5%;
}

form {
	grid-column: 1/8;
	display:flex;
	justify-content: center;
	text-align: center;
}

#testContent{
	color: white
}

@media (max-width: 8.5in) {
	article { grid-template-columns: 1fr 15% 5% 60% 5% 15% 1fr}
	figure img {border-radius: 0px; }
}