:root { font: 20px/1.2 "Signika Negative", sans-serif; }

body,
body * {
	margin:          unset;
	box-sizing:      unset;
	padding:         unset;
	font-size:       unset;
	color:           unset;
	text-decoration: unset;
}