doctype html
html
  head
    meta(charset='UTF-8')
    title Rohith Venkatesh
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/index.css')
    //- link(rel="stylesheet", href="/debug.css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src="scripts/index.js")
   
  body
    article
      h2 TECHNOLOGY
      h1 Viverra Aliquet Eget Sit Amet Tellus Cras
      h3 By: Rohith Venkatesh | On: 11 March 2020 | 10 Minute Read
      figure
        img(src='https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet vulputate mauris. Integer et tortor at ligula consectetur pretium quis nec augue. Proin in porta mi, nec lacinia nunc. Integer sodales dictum metus, non condimentum tortor rutrum sed. Nam dictum finibus nisl, a lacinia mauris lacinia ut. Aliquam sed urna odio. Ut mollis mollis dapibus. Maecenas sit amet luctus lectus, nec dictum massa. Donec urna ante, accumsan sagittis porttitor eget, laoreet at ipsum. Phasellus tristique non risus ullamcorper egestas. Sed vitae bibendum magna. Aenean vel mauris mauris.
      p Aliquam volutpat cursus augue, ut dapibus metus egestas ut. Curabitur nec elit felis. Praesent suscipit, nulla id ultrices molestie, dolor est laoreet odio, vitae finibus quam lacus in justo.
      p Pellentesque sagittis molestie ante, at vehicula mi pellentesque ut. Maecenas et metus a justo tincidunt condimentum. Integer vel ipsum semper, euismod elit vel, dictum turpis. Donec nec sem nec velit gravida tempus eu at arcu. Pellentesque a vestibulum nisl. Vestibulum commodo leo molestie tortor tempus, eget aliquet dolor congue. Donec in sapien nunc. Donec dui odio, dignissim vitae ipsum eget, cursus congue tellus. Aenean sagittis erat ac facilisis condimentum. Vivamus sed ante vitae dui bibendum euismod a sit amet dui. Ut nec tristique odio. Ut rhoncus orci nec dignissim aliquet.
      p Morbi rhoncus purus non ligula pharetra, venenatis ullamcorper lacus interdum. Etiam mi urna, tempus ut lobortis a, porta ut massa. Integer vehicula, elit ut faucibus dictum, ante elit pellentesque orci, sit amet semper ipsum risus vitae odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in vestibulum erat. Nunc eget condimentum purus. Sed suscipit scelerisque elit a fermentum. Proin congue massa et ipsum efficitur luctus. Sed ac elit vitae ligula interdum consectetur imperdiet non purus. Sed congue porttitor justo eu tincidunt. Morbi augue libero, egestas et lacus non, ornare interdum ligula. Morbi ornare ullamcorper nibh ac congue. Donec porttitor at justo et ultricies. Integer eu semper risus. Aenean ac nisi diam. Vivamus ac nunc vitae diam tristique suscipit quis quis nisi. 
      p Suspendisse orci felis, rutrum non gravida id, efficitur sed sem. Donec vestibulum aliquet sollicitudin. Curabitur placerat lacus sit amet massa hendrerit, et blandit dolor vestibulum. Ut nec lacus tellus. Nulla venenatis dolor ut eros sagittis euismod. Aliquam semper sollicitudin eros, id tempor nibh molestie vitae. Vestibulum vitae imperdiet ex, quis laoreet diam.
      #commentSection
        h1.title Join The Discussion—
        input#nameBox(type="text", placeholder="Name", name="name")
        br
        textarea#commentBox(rows="10", placeholder="Comment", name="comment")
        br
        button#submitButton Submit
      h1.title#commentCount
      #comments